# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
package-lock.json
bun.lock
pnpm-lock.yaml

# Build outputs
dist
dist-ssr
build
.output
.vinxi
.nitro
*.local
.next

# Development
.turbo
.cache
.vite

# Tanstack/Vite specific
.tanstack/**
!.tanstack/.gitkeep

# Wrangler / Cloudflare Workers
.wrangler/
.dev.vars
wrangler-assets

# Environment variables
.env
.env.local
.env.*.local
.env.prod.local

# IDE & Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db
.AppleDouble
.LSOverride
*.rej

# Lovable
.lovable/node_modules
.lovable/dist
.lovable/.env.local

# Testing
coverage
.nyc_output

